In [61]:
import pandas as pd
import numpy as np
import requests
import io

In [42]:
with open('../messari.txt', 'r') as file:
    API_KEY = file.read().replace('\n', '')

In [43]:
url = "https://data.messari.io/api/v1/"
headers = { 'Content-type': 'application/json', "x-messari-api-key": API_KEY}
payload = {}

In [44]:
r = requests.get(url + 'markets',params=payload, headers = headers).json()

In [45]:
market_data = []

for x in range(3):
    
    dataset_all_json = requests.get(url + 'markets',params=payload, headers = headers).json()
    number_of_entries = len(dataset_all_json['data'])

    for x in range(0, number_of_entries):
        market_data.append(dataset_all_json['data'][x])

markets = pd.DataFrame(market_data)

In [46]:
markets.head()

,id,exchange_id,base_asset_id,quote_asset_id,trade_start,trade_end,version,excluded_from_price,exchange_name,exchange_slug,base_asset_symbol,quote_asset_symbol,pair,price_usd,vwap_weight,volume_last_24_hours,has_real_volume,deviation_from_vwap_percent,last_trade_at
0,0001be7f-a9af-4c10-ac4d-ed3a7f1c8593,63f8b808-0960-4bb1-bb19-07a0dc779976,77522ba6-dd4c-4cb6-9d34-4c2cd11ac2d6,5da7bde4-61e9-4a6f-9fc3-7ed66effb198,None,None,1,False,PancakeSwap,pancakeswap,RPG,BUSD,RPG-BUSD,1.876907,1,6253.045138,True,0.000000,2022-07-21T13:55:00Z
1,00029600-7335-4a57-94ff-87beffaf8b97,65d7db09-764a-41a8-ac63-50a2d296f874,e23572af-c451-4bed-a085-361f9c207589,4d7b4b96-ecd1-47f7-b8ec-c054dd78b7ed,None,None,1,False,Uniswap (v3),uniswap-v3,QBU,WETH,QBU-WETH,NaN,1,NaN,True,NaN,None
2,0002b156-531b-4827-91c9-89ccc6a123af,90bffaa1-cb56-4647-afb5-e67308bd9595,f5f2202c-e28e-460e-a2a2-92bf3951c372,33f4a7e6-c4de-4883-bffb-d5f2119d55c6,None,None,1,True,SpookySwap,spookyswap,ASHARE,7SHARE,ASHARE-7SHARE,0.046760,1,0.008175,True,10.569420,2022-06-25T03:00:00Z
3,00030799-f441-4b8e-a327-889537d4c62a,19e0fd2a-2226-4552-80da-749a66953588,a3b64831-4288-48bd-a3e7-eb4f77f6f740,938dec5f-c021-42a3-95da-6cece8497dc9,None,None,1,False,Curve,curve,DAI,ALUSD,DAI-ALUSD,1.001721,1,473011.750891,True,0.561161,2022-07-21T10:19:00Z
4,00053875-e43a-4fd3-b68d-c8a032986bbe,63f8b808-0960-4bb1-bb19-07a0dc779976,98719313-ca66-404e-bcf1-afece03034f0,24c59e3e-73b0-4872-94e4-3e5959c315a6,None,None,1,True,PancakeSwap,pancakeswap,BLOVELY,WBNB,BLOVELY-WBNB,NaN,1,NaN,True,NaN,None

In [59]:
# btc data

headers = { 'Content-type': 'application/json', "x-messari-api-key": API_KEY}
payload = {'start':'2020-01-01', 'end':'2022-01-01','interval':'1d','format':'csv'}
urlData = requests.get(url + 'assets/bitcoin/metrics/price/time-series',params=payload, headers = headers).content

In [62]:
rawData = pd.read_csv(io.StringIO(urlData.decode('utf-8')))
rawData

,timestamp,open,high,low,close,volume
0,2020-01-01T00:00:00Z,7168.260566,7243.650002,7150.331991,7181.337264,4.154382e+08
1,2020-01-02T00:00:00Z,7179.808279,7196.793844,6906.723665,6947.972833,8.097716e+08
2,2020-01-03T00:00:00Z,6945.320721,7397.874051,6854.527440,7334.642937,1.666008e+09
3,2020-01-04T00:00:00Z,7311.727506,7402.452194,7261.327358,7342.932133,7.440811e+08
4,2020-01-05T00:00:00Z,7344.271923,7488.925863,7314.900612,7353.340005,8.860240e+08
...,...,...,...,...,...,...
727,2021-12-28T00:00:00Z,50694.842376,50723.120331,47315.807182,47549.767421,6.413825e+09
728,2021-12-29T00:00:00Z,47574.909928,48144.863658,46093.655095,46471.421581,5.237416e+09
729,2021-12-30T00:00:00Z,46423.673555,47914.341411,45919.216980,47127.703577,4.578331e+09
730,2021-12-31T00:00:00Z,47138.754736,48572.579069,45655.161112,46209.113946,5.206617e+09
731,2022-01-01T00:00:00Z,46187.334427,47956.801560,46186.047427,47738.090213,2.934662e+09